@font-face {
    font-family: pixelFont;
    src: url(../nokiafc22.ttf);
}

html {
    height: 100%;
    background-color: gray; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
}

a {

}

a:focus,a:hover {
    color: #00cbcd;
    text-shadow: 1px 1px black;
}

#avatar {
    width: 35em;
    height: 20em;
}

.content {
    background-color: #008B8B;
    width: 50em;
    border: solid 1px green;
    display: flex;
    flex-direction: column; 
    align-items: center;
    flex-grow: 1;

}

.content_button {
    font-size: 30px;
    font-family: pixelFont;
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    transition: color 500ms, text-shadow 500ms;
}

.pointer {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -50px;
    transition: top 500ms cubic-bezier(0.000, 0.935, 0.050, 1.000), left 500ms cubic-bezier(0.000, 0.935, 0.050, 1.000);
}

.top_right_panel {
    position: absolute;
    
    right: 50px;
    background-color: #008B8B;
}

.top_right_panel_button {
    font-size: 20px;
    font-family: pixelFont;
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 5px;
    transition: color 500ms, text-shadow 500ms;
}

.tooltip {
    margin-left: 10px;
    position: absolute;
    height: 200px;
    width: 200px;
    transform: scale(1,0);
    background: url(../images/tooltip.gif);
    transition: transform 300ms, height 0.5s, top 600ms;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip_text {
    color: #555555;
    font-size: 90%;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}