@font-face {
    font-family: pixelFont;
    src: url(../nokiafc22.ttf);
}

html {
    height: 100%;
    /*background: url("../wall2x2.png");*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
}

a {
    font-family: pixelFont;
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    transition: background-color 700ms, box-shadow 300ms;
}

a:focus,a:hover {
    background-color: #007d7d;
    box-shadow: 1px 1px 2px 2px black;
}

.content {
    background-color: #008B8B;
    width: 50em;
    border: solid 1px green;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.btn_wrap{
    display: flex;
    flex-direction: row;
}

.pointer {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -50px;
    transition: top 500ms cubic-bezier(0.000, 0.935, 0.050, 1.000), left 500ms cubic-bezier(0.000, 0.935, 0.050, 1.000);
}

.point_button {
    font-size: 30px;
}

#avatar {
    width: 35em;
    height: 20em;
}

@keyframes mymove {
    0% {box-shadow: 0px 0px 11px 10px #8B0A50;}
    25% {box-shadow: 0px 0px 11px 10px #FF0000;}
    50% {box-shadow: 0px 0px 11px 10px #00F5FF;}
    100% {box-shadow: 0px 0px 11px 10px #FFFF00;}
}

.top_right_panel {
    position: absolute;
    
    right: 50px;
    background-color: green;
}