/* tags */
*:hover
{
}

html
{
    overflow: hidden;
    height: 100%;
    background-color: white; 
}

body
{
    height: 100%;
    margin: 0;

}

/* end */


@media (min-aspect-ratio: 16/9)
{
    #video
    {
        min-width: 100%;
        min-height: auto;    
    }
}

/* video */
@media (max-aspect-ratio: 16/9)
{
    #video
    {
        min-width: auto;
        min-height: 100%;
        
    }
}

#video
{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#pause
{
    /*visual*/
    color: white;
    opacity: 0.8;
    text-shadow: 2px 2px black;
    /*position */
    position: fixed;
    padding-top: 3%;
    padding-left: 3%;
    transition: color 0.5s;
    z-index: 1;
}

#pause:hover
{
    color: #1fa9cb;
    cursor: pointer;
}
/* video end*/


/* menu */
/*#menu
{
    color: white;
    opacity: 0.9;
    text-shadow: 2px 2px black;
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 3%;
    padding-right: 3%;
    z-index: 1;
    transition: color 0.5s;
}

#menu:hover
{

}*/   

.bar
{
    position: fixed;
    top: 30%;
    right: 0px;
}

.link
{
    display: block;
    width: 5em;
    height: 3em;
    padding-top: 20%;
    text-decoration: none;
}

.link:hover .bar_icon
{
    color: #25c3ea;
    margin-top: 5px;
}

.bar_icon
{
    color: white;
    text-shadow: 2px 2px black;
    transition: all 0.3s;
}


.tooltip
{
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    text-shadow: 2px 2px black;
    left: -5em;
    top: -1em;
    font-size: 2em;
    opacity: 0;
    position: relative;
    transition: all 0.3s;
    text-align: right;
}

/* menu end */
 
/* text */

.text
{
    font-family: "Times New Roman", Times, serif;
    position: fixed;
    width: 60%;
    height: 40%;
    left: 20%;
    top: 50%;
    text-shadow: 1px 1px black;
    color: white;
    font-size: 1.5em;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s;
}

.back_shadow
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    background-color: black;    
    transition: visibility 1s, opacity 1s;
}

.text_trigger
{
    position: fixed;
    z-index: 2;
    text-shadow: 2px 2px black;
    bottom: 3%;
    left: 45%;
    color: white;
    transition: opacity 1s, color 0.5s;
}

.text_trigger:hover
{
    color: #1fa9cb;
    bottom: 2.5%;
    cursor: default;
}
/* text end */
