/* tags */
*:hover
{
    cursor: default; 
}

html
{
    height: 100%;
    background-color: white; 
}

body
{
    height: 100%;
    margin: 0px;
    background-color: white;
}

i:hover
{
    cursor: pointer;
    text-decoration: underline;
}

a
{
    margin: 5px;
    text-decoration:none;
    color: #3f89ff;
    font-family: Tahoma, Geneva, sans-serif;
    /*font-weight: bold;*/
}

a:hover
{
    text-decoration: underline;
    color: #3f89ff;
}

/* end */

/* blog view */

.thumbnail
{
    float: left;
    width: 10em;
    height: auto;
    margin-right: 1em;
}

/* end */

.separator
{
    margin-left: 40%;
    margin-right: 40%;
    padding: 0.3em;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.3em;
    background-color: #4ed6db;
}

#admin_panel
{
    position: fixed;
    top: 4em;
    right: 0px;
    border:solid 2px gray;
    border-radius: 5px;
}

/* navi */

#navi
{
    position: fixed;
    top: 0em;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 4px 0px gray;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: white;
    text-align: center;
    transition: all .3s;
    z-index: 1;
}

.navi_btn
{
    margin: 0em;
    padding: .5em;
    text-decoration: none;
    font-weight: bold;
    color: gray;
    font-size: 1em;
    transition: all 0.3s;
}

.navi_btn:hover
{
    text-decoration: none;
    font-size: 1.3em;
    color: #505050;
}

/* end */

/* all middle block */

#content
{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5em;
    text-align: center;
}

#user_msg
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.3em;
    background-color: #50ce9a;
    color: white;
}

.item
{
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 1em;
}

/* end */

/* forms */

.form_title
{
    width: 30em;
    height: 5em;
    font-size: 1.5em;
    resize: none;
}

.form_text
{
    width: 30em;
    height: 40em;
    resize: none;
    padding: 1em;
    margin: 1em;
    font-size: 1.5em;
    border: none;
    box-shadow: 0px 0px 9px 0px gray;
}

.form_button
{
    border: none;
    width: 7em;
    height: 2em;
    background-color: #50ce9a;
    color: white;
}

.form_button:hover
{
    background-color: #3ea57b;

}

/* end */

#base_image
{
    width: 40em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#base_image:hover
{
    cursor: pointer;
}

#big_image
{
    position: absolute;
    width: 100%;
    z-index: 2;
    top: -9999px;
    left: 0px;
    cursor: pointer;
}

/* article section */
#article
{
    text-align: left;    
    font-size: 1.5em;
}

#article_title
{
    color: #555;
}

.article_date
{
    font-size: 0.7em;
    color: gray;
    font-family: Tahoma, Geneva, sans-serif;
}

#article_text
{
    border: none;
    padding: 1em;
    color: #222;
}

/* comments section */
#username
{
    font-family: Tahoma, Geneva, sans-serif;
}

#comment_date
{
    font-family: Tahoma, Geneva, sans-serif;
    color: gray;
    font-size: 0.7em;
}

#comments
{
    font-size: 1.1em;
    text-align: left;
}

#text
{
    padding: 1em;
    border-left: solid 5px #48cdf2;
}

/* comments form section */
#form_comments
{
    text-align: left;
}

#commenter_name
{
    font-size: 1.4em;
    width: 20em;
    padding: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
}

#comment_text
{
    font-size: 1.4em;
    width: 100%;
    height: 10em;
    resize: none;
    font-family: "Times New Roman", Times, serif;
    border: none;
    box-shadow: 1px 1px 5px 0px gray;
    margin-top: 1em;
    padding: 1em;
}

#submit_button
{
    font-size: 1.4em;
    border: none;
    width: 7em;
    height: 2em;
    background-color: #50ce9a;
    color: white;
}

#submit_button:hover
{
    background-color: #3ea57b;
}